<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{%  static  'css/style.css'  %}">    
    <title>Newsdrops</title>
  </head>
    <body>
    <nav>
    <a class="header" href="{% url 'current' %}"> &#x1F4A7 newsdrops (alpha)</a>
    {% if user.is_authenticated %}
        <form class="nav-item" action="{% url 'logout_user' %}" method='POST'>
        {% csrf_token %}
        <button class="nav-button button-warning" type="submit">logout</button>
        </form>
        <form class="nav-item" action="{% url 'my_posts' %}" method='GET'>
        {% csrf_token %}
        <button class="nav-button" type="submit">my posts</button>
        </form>
        <form class="nav-item" action="{% url 'new_post' %}" method='GET'>
        {% csrf_token %}
        <button class="nav-button" type="submit">new post</button>
        </form>
    {% else %}
        <div class="">
        <form class="nav-item" action="{% url 'login_user' %}" method='GET'>
        {% csrf_token %}
        <button class="nav-button" type="submit">login</button>
        </form>
        <form class="nav-item" action="{% url 'signup_user' %}" method='GET'>
        {% csrf_token %}
        <button class="nav-button" type="submit">sign up</button>
        </form>
        </div>
    {% endif %}
    </nav>
    <div  class="content">
    {% block content %}{% endblock %}
    </div>
</body>
</html>