
{% if user.is_authenticated %}
<h2> <a href="{% url 'current' %}"> Newsdrops </a></h2>
Logged in as 
<a href="{% url 'my_posts' %}"> {{ user.username}} </a>
<form action="{% url 'logout_user' %}" method='POST'>
{% csrf_token %}
<button type="submit">logout</button>
</form>
<form action="{% url 'new_post' %}" method='GET'>
{% csrf_token %}
<button type="submit">new post</button>
</form>
<br>
<br>
{% else %}

<a href="{% url 'signup_user' %}">Sign Up</a>
<a href="{% url 'login_user' %}">Login</a>

<br>
<br>
{% endif %}

{% block content %}{% endblock %}