{% extends 'news/base.html' %}
{% load news_extras %}

{% block content %}
    <ul class="news">
      {% for post in posts %}
      {% if forloop.counter0|divisibleby:"2" %}
        <li class="list-group-item list-group-item-action news-item background-one">
      {% else %}
        <li class="list-group-item list-group-item-action news-item background-two">
      {% endif %}
      <div class="news-item-col list-rows">
        <div>
            {%if not ivoted|get_item:post.id %}
              <form class="upvote-form" action="{% url 'upvote_post' post.id %}" method='POST'>
              {% csrf_token %}
              <button class="upvote-button" type="submit"> &#9650; </button>
              </form>
            {% endif %}
        </div>
        <div class="news-item-votes">
          {{ post.votes }}
        </div>
        <div>
          {%if ivoted|get_item:post.id %}
          <form class="unvote-form" action="{% url 'unvote_post' post.id %}" method='POST'>
          {% csrf_token %}
          <button class="unvote-button" type="submit"> &#9660; </button>
          </form>
          {% endif %}
        </div>
      </div>
      <div class="news-item-col">
          <span class="news-item-title"> {{ post.title }} </span>
          <br>
          <a href={{ post.link }}> 
          <span class="news-item-url">{{ post.link | truncatechars:42}} </span>
          </a>
          <br>
          <span id="text_less_{{post.id}}" class="news-item-text" onclick="toggle_text({{post.id}}"> {{ post.text | truncatechars:100}} </span>
          <span id="text_more_{{post.id}}" class="news-item-text hidden"> {{ post.text }} </span>
          {% if post.text|length > 100 %}
            <button class="more-button" onclick="toggle_text({{post.id}})">more</button>
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
    <script>
      function toggle_text(post_id) {
        console.log("text_less_" + post_id)
        toggle(document.getElementById("text_less_" + post_id));
        toggle(document.getElementById("text_more_" + post_id));
      }

      function toggle(x) {
        dis = window.getComputedStyle(x, null).display
        if (dis === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }
      </script>
{% endblock %}
